@model Contrib.Mobile.ViewModels.UserAgentSearchViewModel
@{
    Style.Require("MobileContribAdmin");

    Layout.Title = T("User Agent Capabilities Search").ToString();
}

<div class="breadCrumbs">
    <p>@Html.ActionLink(T("Mobile Theming").ToString(), "List", "ThemesAdmin") &#62; @T("User Agent Capabilities Search")</p>
</div>

@using (Html.BeginFormAntiForgeryPost())
{
    Html.ValidationSummary(); 
    
    <fieldset>
        @Html.LabelFor(m => m.Options.UserAgentText, T("User Agent"))
        @Html.TextAreaFor(m => m.Options.UserAgentText)
        <span class="hint">@T("The browsers user agent to get the capabilities for. E.g. Mozilla/5.0 (iPhone; U; CPU like Mac OS X; en) AppleWebKit/420+ (KHTML, like Gecko) Version/3.0. Leave empty to search current user agent. ")</span>
    </fieldset>
    
    <input class="button" name="Search" type="submit" value="@T("Search")" />

    if (Model.Device != null)
    {
    <fieldset class="filter-actions">
        @Html.TextBoxFor(m => m.Options.CapabilityFilter)
        <button type="submit">@T("Filter").ToString()</button>
    </fieldset>
    
    <p>IsPhone: @Model.Device.IsPhone</p>
    <p>IsTablet: @Model.Device.IsTablet</p>
    <p>IsDesktop: @Model.Device.IsDesktop</p>

    <h2>Device properties</h2>
        if (Model.Device.DeviceProperties != null)
        {
            Html.RenderPartial("_Properties", Model.Device.DeviceProperties);
        }

    <h2>Browser properties</h2>
        if (Model.Device.BrowserProperties != null)
        {
            Html.RenderPartial("_Properties", Model.Device.BrowserProperties);
        }

    <h2>Os properties</h2>
        if (Model.Device.OsProperties != null)
        {
            Html.RenderPartial("_Properties", Model.Device.OsProperties);
        }
    }
}

@using (Script.Foot())
{
    <script type="text/javascript">
        //<![CDATA[
        function filterResults() {
            $('.user-agent-results tbody tr').each(function () {
                ($(this).text().search(new RegExp($(".filter-actions input").val(), "i")) < 0) ? $(this).hide() : $(this).show();
            });
        }
        (function ($) {
            $(".filter-actions button").click(function () {
                filterResults();
                return false;
            });
            $(".filter-actions input").keyup(filterResults);
        })(jQuery);
        //]]>
    </script>
}