
<h1>@Html.TitleForPage(T("Upload Wurfl File").ToString())</h1>

<div class="breadCrumbs">
    <p>@Html.ActionLink(T("Wurfl Management").ToString(), "Index") &#62; @T("Upload Wurfl File")  
</div>

@using (Html.BeginForm("UploadWurfl", "WurflAdmin", FormMethod.Post, new { enctype = "multipart/form-data" })) { 
    @Html.ValidationSummary()
    <fieldset>
        <label for="pageTitle">@T("File Path <span> - upload a new .gz or .zip wurfl file</span>")</label>
        <input id="WurflFilePath" name="WurflFilePath" type="file" value="@T("Browse")" size="64"/>
        <span class="hint">@T("After the new wurfl file has been uploaded, it will take some seconds to intialise and be cached in memory.")</span>
    </fieldset>
    <fieldset>
        <button class="primaryAction" type="submit">@T("Upload")</button>
        @Html.AntiForgeryTokenOrchard()
    </fieldset>
}